extends ../base
include ../mixins/notice
block content
    link(rel="stylesheet", href="/static/js/css/styles.css")
    form(method="GET")
        input(id="text" type="text",name="title",placeholder="Search Title")
        input(id="submit" type="submit", value="Search")
    hr
    if notice
        each item in notice
            +notice(item)