doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/js/css/styles.css")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css')
        title #{pageTitle} | #{siteName}
    body
        .header
            .navbar
                .base_home
                    button(type='button' onclick="location.href='/';") Home
                #non_click.base_menu
                    li
                        a(href='/notice') community
                    li
                        a(href='/installer') interior
                    li
                        a(href="/installer/search") search
                    li
                        a(href="/rank") Ranking
                    li
                        a(href="/map/map") map
                if !loggedIn
                    .base_logout
                        .base_logout_login
                            a(href='/login') login
                        .base_logout_join
                            a(href="/join") Join  
                else
                    .base_login
                        .base_login_img
                                img(src="/"+user.avatarUrl,style="width:70px")
                                #{user.username}
                        .base_login_meun
                                a(href=`/user/${user._id}`) Profile
                                a(href=`/user/edit`) Edit
                                a(href="/logout") Logout
        .section
            block content
        div.save__container
            input(type="text",placeholder="Write Your title...",required,name="title")
            button Save
        include includes/footer
    block script
        script(src="/static/js/js/base.js")