extends ../base
block content
    #change-password
            form(method="POST" class="form")
                .change-password_home
                    button(type='button' onclick="location.href='/';") Home
                if errorMessage
                .errormess
                    span=errorMessage
                label(for="1") 현재 비밀번호
                input(type="password",required,name="oldPassword" placeholder="Input Old-password")
                label(for="2") 새 비밀번호
                input(type="password",required,name="newPassword" placeholder="Input New-password")
                label(for="3") 비밀번호 재입력
                input(type="password",required,name="confirmPassword" placeholder="Confirm password")
                input(id="submit" type="submit" value="Change Password")